*{
    margin:0;
    padding:0;
}
body{
    background-color: #415668;
}
#title{
    font-size: 3em;
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%;
    background-color: #1c313a;

}
#menu{
    width:100%;
    padding: 1rem;
    background-color: #718792;
    color: rgb(191, 255, 244);
    font-weight: cursive;
    font-size: 1em;

}
th{
    padding-left: 1em;
    padding-right: .5em;
    border-right: 0.1em dashed rgb(222, 253, 248);
}
.active{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border-bottom: 2px solid #00acc1;
}
a{
    text-decoration: none;
    color:rgb(191, 255, 244);
}
#content{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    max-width: 60ch;
    text-align: justify;
    background-color: rgb(32, 62, 90);
    border-radius:  35px;
    border:rgb(191, 255, 244) 4px solid;
    color: #fff;
    font-family: serif;
    font-weight: 500;
    font-size: 1.3em;
    
}